@import url('https://fonts.googleapis.com/css?family=Quicksand');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1em;
	font-family: 'Quicksand', sans-serif;
}

html,
main,
body{
	height: 100%;

}

.wrapper{
	width: 100%;
}


section{
	height: 1080px;
	width: 100%;
	margin: 0 auto;
}

.banner{
	height: 250px;
	width: 100%;
}
hr{
	border-color: #000;
}

img:hover{
  box-shadow: 5px 5px 5px 5px grey;

}

.btn:hover{
	box-shadow: 3px 3px 3px grey;
}


.one{
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/bg-profile.jpg");
    /*filter:brightness(70%); */

    /* Set a specific height */
    height: 1080px; 

    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.two{
	width: 100%;
	height: 1000px;
	background-color: red;

}
.twotwo{
	width: 300px;
	height: 300px;
	background-color: red;

}

.three{
	width: 100%;
	height: 1000px;
	background-color: blue;

}

.four{
	width: 100%;
	height: 1000px;
	background-color: yellow;

}
.five{
	width: 100%;
	height: 1000px;
	background: linear-gradient(#663300, #ffff66, #004d00);

}


/*fontawesome size*/
.fa-html5{
	font-size: 4em;
}


/*margin and padding css*/

.margin-btm{
	margin-bottom: 10px;
}

.margin-tp{
	margin-top: 10px;
}
.margin-rgt{
	margin-right: 10px;
}

.margin-lft{
	margin-left: 10px;
}

.margin{
	margin: 10px;
}

.padding-btm{
	padding-bottom: 10px;
}

.padding-tp{
	padding-top: 10px;
}

.padding-rgt{
	padding-right: 10px;
}

.padding-lft{
	padding-left: 10px;
}

.padding{
	padding: 10px;
}

/*/.margins and paddings css*/

/*main css*/

.profpic{
	margin: 0 auto;
}
.pinfo{
	
}
.pinfopic{
	display: inline-block;
}
#psize{
	width: 200px;
}
.pinfo{
	width: 500px;
	margin: 0 auto;
	color: #fff;
	font-size: 100px;
	text-align: center;

}
a:link{
	color: black;
}


.skills{
	width: 500px;
	margin: 0 auto;
}
.education{
	width: 500px;
	margin: 0 auto;
}
.experience{
	width: 500px;
	margin: 0 auto;
}
.works{
	width: 500px;
	margin: 0 auto;
}
.social{
	width: 500px;
	margin: 0 auto;
}

.txtcntr{
	text-align: center;
}

.contentctr{
	margin: 0 auto;
}

.workimg{
	width: 200px;
	height: 200px;
}

.fa-file-text{
	color: #000;
}
/*footer*/
.col-xs-6,
.col-md-12,
.col-lg-12{
	padding: 0;
}
#footer{
	padding: 0;
}
footer{
  background-color: #000;
   /*bottom:0;*/
   width:100%;
   height:70px;
   padding: 0;
}
footer p{
  background-color: black;
  color: white;
  /*width: 100%;*/
  height: 70px;
  line-height: 70px;
  margin: 0;
  /*clear: both;*/
  /*position: relative;*/
  /*bottom: 0;*/
}





/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

.fa{
	font-size: 10px;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.skills{
	margin: 0 auto;
	text-align: center;
}

.wrapper{
	width: 100%;
}
#social{
	width: 100%;
}
.pinfo{
	width: 100%;
}
.works{
	width: 100%;
}
.skills{
	width: 100%;
}
.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: rgb(255,255,255);
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(255,80,80);
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
}

}

@media only screen and (max-width: 400px){



#social{
	width: 100%;
}
.pinfo{
	width: 100%;
	height: 100vh;
	line-height: 50vh;
}
#banner{
	display: none;
}
.works{
	width: 100%;
}
.skills{
	width: 100%;
}


.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

.col-xs-12,
.col-md-12,
.col-lg-12,
section,
.one{
	height: 100%;
	width: 100%;
}
.five{
	width: 100%;

}

.fa{
	font-size: 1000px;
	color: blue;
	size: 100px;
	background-size: 100px;
}

hr{
	size: 5px;
}
body{
	width: 100%;
}

}
/*/.timeline*/






/*/.main*/
.pp-easing {
		    -webkit-transition: all 300ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
		    -moz-transition: all 300ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
		    -o-transition: all 300ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
		    transition: all 300ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
		    /* custom */
		    -webkit-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
		    -moz-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
		    -o-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
		    transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
		    /* custom */
		}
